/*Style Sheet for Jon Cronin Catalog App Project -
This style sheet attempts to capture the design/style of the
page/site content leaving the HTML pages to include just the
content itself.*/

body {
   font-family: "Comfortaa", cursive;
   background-color: white;
   margin: 0;
   padding: 0 10px 10px 10px;
}

header, footer, section, div {
   box-sizing: border-box;
}

img, embed, object, video, header {
   max-width: 100%;
}

main {
   max-width: 1280px;
   margin: 0;
   background-color: grey;
   box-sizing: border-box;
}

.header {
   background-color: grey;
   margin-top: 10px;
   padding: 10px;
   text-align: left;
   height: 100px;
}

.header h1 {
   padding-bottom: 0;
   margin-bottom: 0;
}
.side__menu {
   width: 120px;
   float: left;
   margin: 0;
   padding: 0;
}
.side__menu nav {
   box-sizing: border-box;
   float: left;
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #f1f1f1;
}
.side__menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.side__menu li a:hover {
    background-color: #555;
    color: white;
}

.side__menu .active {
    background-color: #4CAF50;
    color: white;
}

.primary__content {
   float:left;
   min-width: 220px;
}

.primary__content ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    margin-right: 5px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
