<!DOCTYPE HTML>
<html>

<head>
    <title>Catalog App - Items for {{targetCategory.name}}</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/main.css')}}" />

</head>

<body>
    <main>
        <!-- Header -->
        <header class="header">
            <div class="header__rt">
                {% if 'username' not in session %}
                <a href="{{url_for('showAuth')}}">
                    <span class="addBtn">MyItems</span>
                </a>
                {% else %}
                <a href="{{url_for('disconnect')}}">
                    <span class="addBtn">Logout</span>
                </a>
                <div class="logged__in">logged in as {{session['username']}}</div>
                {% endif %}
            </div>
            <h1>Catalog APP</h1>
            <hr>
            <div class="sub__header">
                <div class=sub__header_lt>
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="flash__message">
                        {{ message }}
                    </div>
                    {% endfor %} {% else %}
                    <div class="flash__message">
                        </br>
                    </div>
                    {% endif %} {% endwith %}
                </div>
            </div>
        </header>
        <div class="big__div">

            <!-- Side Menu -->
            <div class="side__menu">
                <nav>
                    <li><a href="{{url_for('showItems')}}">home</a> {% if categories %} {% for entry in categories %} {% if entry.id == targetCategory.id %}
                        <li class="active"><a href="{{url_for('showItemsForCategory', category_id = entry.id)}}">{{entry.name}}</a></li>
                        {% else %}
                        <li><a href="{{url_for('showItemsForCategory', category_id = entry.id)}}">{{entry.name}}</a></li>
                        {% endif %} {% endfor %} {% endif %}
                </nav>
            </div>
            <!-- Main -->
            <div class="primary__content">
                <!-- Main Content -->
                <section class="content__right">
                    <a href="{{url_for(
                                 'newItem')}}"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
                    <!-- <span onclick="location.href='{{url_for("newItem")}}'" class="addBtn">Add</span> -->
                </section>
                <section class="content">
                    <h3>{{targetCategory.name}} items</h3>
                    <hr> {% if not items %}
                    <p>No Items</p>
                    {% else %} {% for item in items %}
                    <button class="accordion">{{item.name}}</button>
                    <span class=mgmt__menu>
                        {% if 'user_id' in session %}
                        {% if item.user_id == session['user_id'] %}
                        <a href="{{url_for(
                           'editItem', item_id = item.id)}}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                        <a href="{{url_for(
                           'deleteItem', item_id = item.id)}}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                        {% endif %}
                        {% endif %}
                    </span>
                    <div class="panel">
                        Description:
                        <span class="panel__category">({{item.category.name}})</span><br> {{item.description}}
                    </div>
                    {% endfor %} {% endif %}
                </section>
            </div>
            <!-- Footer -->
            <div id="footer">
            </div>
        </div>
    </main>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }
    </script>
</body>

</html>
