<!DOCTYPE HTML>
<html>

<head>
      <title>Catalog App - New Item</title>
      <meta charset="utf-8" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1" />
      <link href="https://fonts.googleapis.com/css?family=Comfortaa"
            rel="stylesheet">
      <link rel="stylesheet"
            href="{{url_for('static', filename='css/main.css')}}" />
</head>

<body>

      <!-- Header -->
      <header class="header">
            <h1>Catalog APP</h1>
            <hr>
      </header>
      <!-- Side Menu -->
      <div class="side__menu">
            <nav>
                  <li><a href="{{url_for('showItems')}}">home</a>
                  {% if categories %}
                   {% for entry in categories %}
                  <li><a href="{{url_for('showItemsForCategory', category_id = entry.id)}}">{{entry.name}}</a></li>
                   {% endfor %}
                  {% endif %}
            </nav>
      </div>

      <!-- Main -->
      <div class="primary__content">
            <!-- Main Content -->
            <section class="content">
                  <form name="thisform"
                        action="#"
                        method="POST">
                        <label for="name">Name:</label><br>
                        <input type="text"
                               required
                               class="form-control"
                               maxlength="100"
                               name="name"><br>

                        <label for="category">Category:</label><br>
                        <input type="text"
                               required
                               class="form-control"
                               maxlength="100"
                               name="category"><br>

                        <label for="description">Description:</label><br>
                        <textarea required
                                  class="form-control"
                                  maxlength="250"
                                  rows="3"
                                  name="description"
                                  placeholder="Description of the item"></textarea><br>
                        <!-- <button type="submit" id="submit" name="submit">Create</button> -->
                        <span onclick="thisform.submit()"
                              class="addBtn">Add</span>
                  </form>
            </section>
      </div>
      <!-- Footer -->
      <div id="footer">
      </div>
</body>

</html>
