<!DOCTYPE HTML>
<html>

<head>
    <title>Catalog App</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa"
          rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="/static/css/main2.css" />

</head>

<body>
    <main>
        <header id="header"
                class="w3-container w3-row w3-blue-gray"
                style="min-width=320px">
            <div id="authBlock"
                 class="w3-container w3-col s2 m2 l2 w3-right w3-right-align">
                <a href="#"
                   class="w3-button w3-dark-gray w3-right relaxed">Login</a>
                <div id="loginStatus"
                     class="w3-small w3-right"
                     style="clear:both;">logged in as user</div>
            </div>
            <div id="headerBlock"
                 class="w3-container w3-col s10 m10 l10 w3-left">
                <h3>Catalog APP</h3>
                <div id="headerMenuToggle"
                     class="w3-hide-large">
                    <button id="menuToggleButton"
                            class="w3-button w3-large relaxed"
                            onclick="w3_open()">
                        &#9776;
                    </button>
                </div>
            </div>
            <div id="flashMessages"
                 class="w3-container w3-col s12 m12 l12 w3-left w3-left-align w3-border-top w3-pale-green">
                nice long message that describes some action that just occurred
            </div>
        </header>
        <div id="pageContent"
             class="w3-container w3-row w3-white w3-border-top w3-border-white">
            <nav id="sideMenu"
                 class="w3-sidebar w3-bar-block w3-collapse w3-card-2 w3-col s3 m3 l2 w3-bar-block w3-light-gray w3-animate-left">
                <button class="w3-bar-item w3-button w3-hide-large relaxed"
                        onclick="w3_close()">Close &times;
                </button>
                <a href="#"
                   class="w3-bar-item w3-button relaxed">category</a>
                <a href="#"
                   class="w3-bar-item w3-button relaxed">category</a>
                <a href="#"
                   class="w3-bar-item w3-button relaxed">category</a>
                <a href="#"
                   class="w3-bar-item w3-button relaxed">category</a>
            </nav>
            <!-- Main -->
            <div id="pageGuts"
                 class="w3-container w3-col s12 m12 l10">
                <div id="addItemsButton"
                     class="w3-right w3-right-align"
                     style="width:10%">
                    <a href="#"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
                </div>
                <section class="w3-left"
                         style="width:90%">
                    <h4>All Items</h4>
                    <hr>
                    <button class="accordion relaxed w3-button">Item X</button>
                    <span style="width:20%;">
                        <a href="#"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                    </span>
                    <div class="w3-container w3-hide relaxed">
                        Description:
                        <span class="panel__category">(category)</span><br> description description description
                        description description description description description description description
                        description description description description description description description
                        description
                    </div>
                    <button class="accordion relaxed w3-button">Item X</button>
                    <span style="width:20%;">
                        <a href="#"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                    </span>
                    <div class="w3-container w3-hide relaxed">
                        Description:
                        <span class="panel__category">(category)</span><br> description description description
                        description description description description description description description
                        description description description description description description description
                        description
                    </div>
                    <button class="accordion relaxed w3-button">Item X</button>
                    <span style="width:20%;">
                        <a href="#"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                    </span>
                    <div class="w3-container w3-hide relaxed">
                        Description:
                        <span class="panel__category">(category)</span><br> description description description
                        description description description description description description description
                        description description description description description description description
                        description
                    </div>
                    <button class="accordion relaxed w3-button">Item X</button>
                    <span class=mgmtButtons>
                        <a href="#"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
                    </span>
                    <div class="w3-container w3-hide relaxed">
                        Description:
                        <span class="panel__category">(category)</span><br> description description description
                        description description description description description description description
                        description description description description description description description
                        description
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling.nextElementSibling;
                if (panel.className.indexOf("w3-show") == -1) {
                    panel.className += " w3-show";
                } else {
                    panel.className = panel.className.replace(" w3-show", "");
                }
            }
        }

        function w3_open() {
            document.getElementById("sideMenu").style.display = "block";
        }

        function w3_close() {
            document.getElementById("sideMenu").style.display = "none";
        }
    </script>
</body>

</html>
